<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投票信息</title>
    <script src="/external/chart.js" defer></script>
    <script src="/js/chart.js" defer></script>
    <link rel="stylesheet" href="/external/ui.css">
    <script type="module" src="/external/all.js"></script>
    <style>
        #chart {
            max-width: 700px;
            max-height: 700px;
        }

        #vote-record-table {
            margin-top: 30px;
            overflow-x: scroll;
        }
    </style>
</head>
<body>

<main th:if="${nominee != null}">
    <h1>
        候选人：<span th:text="${nominee.name}"></span>
    </h1>

    <canvas id="chart" th:value="${nominee.id}">
    </canvas>

    <table id="vote-record-table" class="ui-table">
        <thead>
        <tr>
            <th>投票人</th>
            <th>投票时间</th>
            <th>IP地址</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vote : ${votes}">
            <td th:text="${vote.userId}"></td>
            <td th:text="${vote.voteTime}"></td>
            <td th:text="${vote.ip}"></td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>