<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <title>2024毕业之夜人物投票</title>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="https://unpkg.com/lu2/theme/edge/css/common/ui.css">
    <link rel="stylesheet" href="/css/sheet.css">
    <script type="module" src="https://unpkg.com/lu2/theme/edge/js/common/all.js"></script>

    <style>
        body {
            background-image: url("/image/background.png");
        }

        .nominee {
            margin-top: 30px;
        }

        .nominee-pic {
            width: 100%;
            border-radius: 10px;
        }
    </style>

</head>
<body>

<main class="sheet">
    <h1 class="title">投票</h1>

    <span class="ui-input ui-input-search" align="end">
        <label for="searchBox"></label>
        <input id="searchBox" onkeyup="searchFunction()" type="search" placeholder="搜索">
        <button class="ui-icon-search">搜索</button>
    </span>

    <div th:each="nominee : ${nominees}" class="nominee card" th:attr="data-name=${nominee.name}">
        <h2 th:text="${nominee.name}" class="nomineeName"></h2>
        <img class="nominee-pic" th:src="@{'/images/' + ${nominee.pic}}" alt="Nominee Picture">
        <p th:text="${nominee.intro}"></p>
        <p th:text="${nominee.reason}"></p>
        <p>票数：
            <span th:if="${votesVisible}" th:text="${nominee.votes}" class="votes"></span>
            <span th:unless="${votesVisible}">***</span>
        </p>
        <button class="ui-button" onclick="voteForNominee(this)" th:attr="data-id=${nominee.id}">投票</button>
    </div>
</main>

<ui-lighttip id="success"></ui-lighttip>
<ui-lighttip id="failed" type="error">
    <p>
        <span id="failed-reason"></span>
        <br>
        <img src='/image/ad.png' alt='广告'>
        <br>
        扫码抽取9.9-999元京东红包
    </p>
</ui-lighttip>

<script>
    function searchFunction() {
        let searchBox = document.getElementById('searchBox')
        let searchWord = searchBox.value
        let nominees = document.getElementsByClassName('nominee')
        for (let i = 0; i < nominees.length; i++) {
            let nomineeName = nominees[i].getAttribute('data-name')
            if (nomineeName.includes(searchWord) || searchWord === '') {
                nominees[i].style.display = 'block'
            } else {
                nominees[i].style.display = 'none'
            }
        }
    }

    async function voteForNominee(button) {
        let id = button.getAttribute('data-id')
        let response = await fetch(`/api/vote?nominee=${id}`)
        let result = await response.text()
        if (response.ok) {
            let successTip = document.getElementById('success')
            successTip.innerText = result
            successTip.open = true
            let votesSpan = button.previousElementSibling.children[0]
            let previousVoteCount = parseInt(votesSpan.textContent)
            if (!isNaN(previousVoteCount)) {
                votesSpan.textContent = String(previousVoteCount + 1)
            }
        } else {
            let failedTip = document.getElementById('failed')
            let failedReason = document.getElementById('failed-reason')
            failedReason.innerText = result
            failedTip.open = true
        }
    }
</script>
</body>
</html>