body {
    font-family: sans-serif;
}

#approve-nominee-table {
    margin-top: 30px;
    overflow-x: scroll;
}

.nominee-long-text {
    max-width: 150px;
}

.nominee-menu {
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nominee-action-button {
    width: 100%;
    margin: 5px  10px;
}