@font-face {
    font-family: 'Canva';
    src: url('../fonts/canva.woff2') format('woff2'),
    url('../fonts/canva.woff') format('woff');
}

body {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    zoom: 1;
    border: 0;
    margin: 0;
    font-family: 'Canva', sans-serif;
}

.canva {
    font-family: 'Canva', sans-serif;
    color: white;
}

body {
    background-image: url('../image/background.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

@supports (background-image: url('../image/background.webp')) {
    body {
        background-image: url('../image/background.webp');
    }
}


@supports (background-image: url('../image/background.avif')) {
    body {
        background-image: url('../image/background.avif');
    }
}

#bottom-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#sponsor {
    padding: 10px 10px 0;
}

#logo img {
    width: 60px;
}

#sponsor {
    width: 6em;
}

#locomotive-blur {
    position: fixed;
    bottom: 10px;
    right: 0;
    width: 80%;
    z-index: -1;
}