<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <title>管理提名人</title>
    <link rel="stylesheet" href="https://unpkg.com/lu2/theme/edge/css/common/ui.css">
    <link rel="stylesheet" href="/css/sheet.css">
    <script type="module" src="https://unpkg.com/lu2/theme/edge/js/common/all.js"></script>
    <style>
        .card {
            padding-top: 30px;
        }

        .card img {
            width: 100%;
            border-radius: 10px;
        }
    </style>
</head>
<body>
<main class="sheet">
    <h1 class="title">管理提名人</h1>

    <div th:each="nominee : ${nominees}" class="card">
        <img class="nomination-card-image" th:src="${nominee.picPath()}" alt="">
        <h1>
            <span th:text="${nominee.name}"></span>
            （#<span th:text="${nominee.id}"></span>）
        </h1>


        <p>
            提名理由：
            <span th:text="${nominee.reason}"></span>
        </p>

        <p>
            简介：
            <span th:text="${nominee.intro}"></span>
        </p>

        <p>
            类型：
            <span th:text="${nominee.type.getTypeName()}"></span>
        </p>

        <p>
            联系方式：
            <span th:text="${nominee.contact}"></span>
        </p>

        <p>
            状态：
            <span th:text="${nominee.state.getStatusName()}"></span>
        </p>

        <button th:value="${nominee.id}" onclick="approveNominee(this)" type="success" is="ui-button">批准</button>
        <button th:value="${nominee.id}" onclick="rejectNominee(this)" type="danger" is="ui-button">拒绝</button>
        <input type="text" th:id="${nominee.id}" name="name" placeholder="拒绝理由" is="ui-input">
    </div>

    <script>
        async function approveNominee(button) {
            let id = button.getAttribute('value');
            let response = await fetch(`/api/admin/nominee?approve=true&id=${id}`);
            let message = await response.text();
            alert(message);
        }

        async function rejectNominee(button) {
            let id = button.getAttribute('value');
            let input = document.getElementById(id);
            let reason = input.value;
            let response = await fetch(`/api/admin/nominee?approve=false&id=${id}&reason=${reason}`);
            let message = await response.text();
            alert(message);
        }
    </script>
</main>

</body>
</html>