<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <title>投票</title>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="https://unpkg.com/lu2/theme/edge/css/common/ui.css">
    <link rel="stylesheet" href="/css/sheet.css">
    <script type="module" src="https://unpkg.com/lu2/theme/edge/js/common/all.js"></script>

    <style>
        .nominee {
            margin-top: 30px;
        }

        .nominee-pic {
            width: 100%;
            border-radius: 10px;
        }
    </style>

</head>
<body>

<main class="sheet">
    <h1 class="title">投票</h1>

    <span class="ui-input ui-input-search" align="end">
        <input id="searchBox" onkeyup="searchFunction()" type="search" placeholder="搜索">
        <button class="ui-icon-search">搜索</button>
    </span>

    <div th:each="nominee : ${nominees}" class="nominee card" th:attr="data-name=${nominee.name}">
        <h2 th:text="${nominee.name}" class="nomineeName"></h2>
        <img class="nominee-pic" th:src="${nominee.picPath()}" alt="Nominee Picture">
        <p th:text="${nominee.intro}"></p>
        <p th:text="${nominee.reason}"></p>
        <p>票数：<span th:text="${nominee.votes}" class="votes"></span></p>
        <button class="ui-button" onclick="voteForNominee(this)" th:attr="data-id=${nominee.id}">投票</button>
    </div>
</main>

<ui-lighttip id="info"></ui-lighttip>

<script>
    function searchFunction() {
        var searchBox = document.getElementById('searchBox');
        var searchWord = searchBox.value;
        var nominees = document.getElementsByClassName('nominee');
        for (var i = 0; i < nominees.length; i++) {
            var nomineeName = nominees[i].getAttribute('data-name');
            if (nomineeName.includes(searchWord) || searchWord === '') {
                nominees[i].style.display = 'block';
            } else {
                nominees[i].style.display = 'none';
            }
        }
    }

    async function voteForNominee(button) {
        var id = button.getAttribute('data-id');
        var response = await fetch('/api/vote?nominee=' + id);
        var result = await response.text();
        if (response.ok) {
            var votesSpan = button.previousElementSibling.children[0];
            votesSpan.textContent = parseInt(votesSpan.textContent) + 1;
        }
        let tip = document.getElementById('info');
        tip.innerText = result;
        tip.open = true;
    }
</script>
</body>
</html>